@charset "UTF-8";
/*
.error-alert {
background-color: #f7a7a3;
border-left: .3rem solid #8f130c;
}

*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&family=Roboto:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  /*  font-size: 62.5%; Bunu sonradan uygulamaya calisiriz... */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

/*Bunlari biz gidip html icerisinde class onlarak yazdigimizda direk bu degerleri alacaklar-ayni bootstrap  mantigidir bu
*/
/*
Components
Alip baska bir yerde de kullanmayi dusundugumuz yapilar
site_log,title,btn,carosel,slider,hazir yapilar olup da tekrar tekrar kullanabilecegimiz yapilardir
Component olarak tuttugumuz yapilarimiz olan carosel, slider,card,icon,button,title gibi belli kalip olarak tutacagimiz elemanlara ait scss kodlarini burda tutup bunlari biz farkli projelerimizde de kullanabiliriz…
components are like "mini" layouts. Styles for small, reusable pieces of the site should reside here (think buttons, forms, profile pictures, etc.)
*/
.btnUserPage {
  background-color: orange;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0.4rem 1.4rem;
  cursor: pointer;
}

.form-element, .form-date {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  padding-left: 0.3rem;
  font-size: 0.8rem;
  color: #6e7375;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
}

.errorValidationMessage {
  font-size: 0.8rem;
  color: red;
}

/*success icon*/
.icon-checkmark:before {
  content: "\ea10";
  color: green;
  margin-left: 0.3rem;
  margin-top: 0.1rem;
}

.errorStyle {
  border: 1px solid red;
}

.successStyle {
  border: 1px solid green;
}

.form-element:hover {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}

.form-element:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* hover i incele form-date i mi yoksa digerini mi devreden cikaracaz*/
.form-date:hover {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}

.form-date:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.submitBtn {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0062cc;
  border-color: #0062cc;
}

/* ErrorAlert Message -$secondary-color-dark  #0069d9*/
.alert {
  box-sizing: border-box;
  width: 50%;
  margin: 3rem auto;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
  text-align: center;
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  border-width: .08rem;
  border-style: solid;
  border-radius: 50%;
  right: 1rem;
  top: 1.5rem;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
}

/* islemler bitince danger kismini sil... */
.error-alert {
  background-color: #f7a7a3;
  border-left: .3rem solid #8f130c;
}

/* .error-alert .close {
border-color: #8f130c;
color: #8f130c;
} */
.success-alert {
  background-color: #a8f0c6;
  border-left: .3rem solid #178344;
}

/* .success-alert .close*/
.close {
  border-color: #178344;
  color: #178344;
}

.alert-message {
  width: 100%;
  position: fixed;
  top: -2rem;
}

/*
layout contains styles for different aspects of the site's structural layout (think of areas like nav bars, headers, footers, etc.)

*/
body {
  font-family: sans-serif;
  background-color: #E6E6E6;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0;
  background-color: #007bff;
  border-radius: 0.4rem;
}

/*header-form-content display flex column  altinda */
.form-content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* admin-form ise form-content in icinde...*/
.admin-form {
  width: 100%;
}

.happeningformRow {
  width: 100%;
  margin-bottom: 1rem;
}

.formLabel {
  font-weight: bold;
  font-size: 0.9rem;
  color: #6e7375;
  margin: 0.3rem 0;
  display: flex;
}

.labelText {
  margin-bottom: .4rem;
}

.formLabelAnnounce {
  font-weight: bold;
  font-size: 0.9rem;
  color: #6e7375;
  display: flex;
}

.requiredStar {
  color: red;
  font-size: 1rem;
}

.happeningDate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.happeningDateSection {
  width: 30%;
}

.happeningDateInput {
  display: block;
  box-sizing: border-box;
  margin-top: -.08rem;
}

.date-margin {
  margin: 0.4rem 1rem;
}

.spantext {
  font-size: 0.9rem;
  color: #6e7375;
}

.payment-margin {
  margin: 0.4rem 0;
}

.description {
  min-height: 8rem;
  text-align: left;
}

.input-top-mrgn {
  margin-top: -.4rem;
}

.paymentTypeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.paymentType {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.payTypeInput {
  display: inline-block;
  width: 1.3rem;
  height: 1rem;
  margin-top: -.01rem;
}
/*# sourceMappingURL=main.css.map */